* {
  box-sizing: border-box;
  font-family: "Nunito",sans-serif;;
}

.navbar {
  width: 150px;
  height: 100px;
  /* background-color: blue; */
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/1f87c78b9721a0454dd9a452932178a9/photo-1651869924653-0a0f5d21067a.jpg");
  /* margin-right: 10px; */
  margin-left: 100px;
  margin-bottom: 40px;
  border-radius: 5px;
  /* background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/1f87c78b9721a0454dd9a452932178a9/photo-1651869924653-0a0f5d21067a.jpg"); */
}

.background {
  width: 100%;
  height: 100vh;
}

.new-board {
  margin: 1rem;
  height: 9.3rem;
  color: white;
  background-color: gray;
  font-weight: 500;
  border-radius: 10px;
  text-align: left;
  width: 22%;
  padding: 1rem;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
}

.card-containers h5{
  text-align: center;
}
.card{
  margin: 0.5rem;
  /* padding: 0.5rem; */
  width: 100%;
}

.board-containers {
  margin-top: 3rem;
  padding: 1rem 1rem 1em 0;
  width: 80%;
}

.board-containers a:hover{
  color: white;
}

.navbar-menu {
  top:0px;
  padding-left: 3rem;
  height: 2.8rem;
  display: flex;
  background-color: #026aa7;
  color: white;
}

.navbar-menu a {
  text-decoration: none;
}

.home-icon{

  margin-left: 34rem;
  margin-top: 0.9rem;
  color: white;
  /* padding-top: 0.2rem; */
  width: 20px;
  height: 20px;
}

.nav-home{
  margin-top: 0.5rem;
  color: white;
  margin-right: 30rem;
  font-weight: bold;
}



.outer-container {
  padding: 50px;
  display: flex;
  align-items: flex-start;
  /* background-color: green; */
  overflow-x: auto;
  background-size: cover;
  height: 100vh;
  /* width: auto; */
}

.outer-list-container{
  margin-top: 4rem;
}

.list-wrapper{
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/1f87c78b9721a0454dd9a452932178a9/photo-1651869924653-0a0f5d21067a.jpg");
  /* display: flex; */
    height: 94vh;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: scroll;
    padding-left: 2em;
    padding-right: 1em;
    overflow-x: auto;
}

.list-container {
  /* padding-top: 3rem; */
  margin-right: 1.5rem;
  margin-top: 0 !important;
  width: 20rem;
  background-color: #e8e9ed;
  border-radius: 0.3rem;
  padding: 0.5em;
  max-height: 93vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.list-name{
  margin-left: 0.5rem;
}

.checklist-name{
  font-weight: bold;
}

.card-wrapper {
  max-height: 82vh;
}

.test{
  height: 9.3em;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  margin: 1em;
  text-align: left;
  width: 22%;
  padding: 1em;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/1f87c78b9721a0454dd9a452932178a9/photo-1651869924653-0a0f5d21067a.jpg");
}

.test:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.list-create{
  min-width: 16.6em;
  /* min-height: 5.2em; */
  margin-top: 4rem;
  /* height: 5.8rem; */
  /* width: 50rem; */
  background-color: #e8e9ed;
  border-radius: 4px;
  padding: 0.25em;
}

.card-create{
  height: 5.8rem;
  width: 18rem;
  background-color: #e8e9ed;
  border-radius: 4px;
  margin-left: 0.5rem;
  /* padding: 0.25em; */
}

.list-create-input{
  /* margin-top: 1rem; */
  min-width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding:0.5rem;
    font-size: .9rem;
    outline: none;
    
}


.list-create-btn{
  margin-right: 1rem;
  align-self: center;
  cursor: pointer;
}

.remove-addlist{
  cursor: pointer;
  align-self: center;
}

.add-list-btn{
  margin-top: 4rem;
    min-width: 16.6em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #ffffff3d;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: left;
}

.add-list-btn:hover{
  background-color: #d9dce2;
  border-radius: 5px;
  color: #000;
}

.add-btn{
  width: 94%;
  margin-left: 0.6rem;
  /* margin-right: 0.5rem; */
  /* margin: 0.9rem; */
  /* margin: 0.9rem; */
  text-align: left;
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
}


.add-btn:hover{
  background-color: #d9dce2;
  /* border-radius: 3px; */
  color: #000;

}


.remove-list-btn{
  cursor: pointer;
  /* color: red; */
}

.nav-title{
  font-style: bold;
  font-size: 1.5rem; 
  color: #e8e9ed;
  margin-left: 0.1rem;
  /* margin-top: 2rem; */
  padding-top: 0.7rem;
  font-weight: bold;
}


.card-remove-btn{
  cursor: pointer;
  margin-left: auto;
  color: red;
  /* align-self: center; */
}

.modal-height{
  height: 70% !important;
}



.card-img{
  /* width: 10px; */
  height: 100px;
}


.card-title{
  text-align: center;
}
.all-checklist{
  /* background-color: aqua; */
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 0.2rem;
  margin-top: 4rem;
  /* background-color: gray; */
}

.checkitem-checkbox:checked+span{
  text-decoration: line-through;
}

.Fatsks-icon{
  margin-right: 1rem;
}

.deletebtn-checklist{
  margin-left: auto;
  background-color:#091e4214;
  border: none;
}

.deletebtn-checklist:hover{
 background-color:  lightgray
}
.check-items{
  display: flex;
  background-color: yellow;
  margin-bottom: 0.7rem;
  /* justify-content: space-between; */
}

.checkbox{
  /* margin-top: 0.3rem; */
  align-self: center;
  align-items: center;
  margin-right: 1rem;
}

.check-item-name{
  align-self: center;
}

.fa-trash{
  color: red;
  cursor: pointer;
  margin-left: auto;
}



.list-name{
  font-weight: bold;
  font-size: 14px;
}


.checklist-remove{
  /* margin-left: auto; */
  /* align-self: flex-start; */
  margin-left: auto;
  cursor: pointer;
}



.fac-credit-card{
  margin-right: 1rem;
}


.add-checklist{
  margin-top: 2rem;
  margin-left: 13rem;
}



.checklist-container-list-name{
  font-size: 16px;
  /* color: gray; */
}

/* .all-checkitems{
  background-color: #d9dce2;
  border: none;
  color: #000;
  margin-bottom: 0.2rem;
} */

.all-checkitems:hover{
  background-color: #d9dce2;
  cursor: pointer;

}


.checkitem-checkbox{
  margin-right: 1rem;
}

.checklist-background{
  background-color: #091e4214;
}

.checkitems-container{
  margin-right: auto;
}

.all-checkitems{
    display: flex;
}

.input-check-item{
  width: 100%;
  border: 2 px;
  border-radius: 5 rem;
  /* border-color: blue; */
}


.addcheckitem-container{
  margin-left: 1.9rem;
  margin-top: 1rem;
}

.addbtn-checkitem{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.card-details{
  width: 93%;
  cursor: pointer;
  /* align-content: center; */
  /* justify-content: center; */
  /* align-self: center; */
  /* margin-top: 0.5rem; */
  /* margin-left: 0.2rem; */
  /* margin-top: 0.5rem; */
  /* align-self: center; */
  /* justify-content: space-between; */
}

.card:hover{
  background-color: #d9dce2;
  border: none;
  color: #000;
}



.card-details-container{
   /* margin-top: 0.5rem;  */
   align-items: center;
   margin: 0.5rem;
}

.card-checklist-title{
  font-weight: bold;
}


.grid-icon{
  margin-top: 1rem;
  color: white;
}

/* .add-btn-hover:hover{
  background-color: lightblue;
} */

.boards-heading{
  text-align: center;
  margin-top: 1.5rem;
}

.close-btn{
  border: none;
}

.close-btn:hover{
 background-color:  lightgray
}

.boards-status{
  display: flex;
  flex-direction: column; 
  padding-top: 1.5rem;
}

.loader{
  margin: auto;
}

